.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  margin-top: 80px;
}

.headline {
  width: 100%;
  max-width: 632px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--primary-color);

  .title {
    font-size: 36px;
    text-align: center;
    font-weight: 800px;
    line-height: 110%;

    span {
      color: var(--secondary-color);
    }
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
