.feedbackCard {
  background-color: var(--bg-feedback-cards);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
  padding: 20px;

  .icon {
    color: var(--primary-color);
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
  }

  .author {
    display: flex;
    align-items: center;
    gap: 10px;

    .authorInfo {
      h5 {
        font-size: 24px;
        color: var(--color-black);
        font-weight: 600;
      }

      span {
        font-size: 14px;
        color: var(--color-gray-light);
        font-weight: 400;
      }
    }
  }
}
