.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.headline {
  width: 100%;
  max-width: 632px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 64px;

  .title {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    text-align: center;
    color: var(--primary-color);

    span {
      color: var(--secondary-color);
    }
  }
}

.feedbacks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
