.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  padding: 30px;
}

.iconContainer {
  background-color: var(--color-orange-light);
  padding: 30px;
  border-radius: 90px;
  color: var(--primary-color);
  aspect-ratio: 40/41;
  margin-bottom: 24px;
  color: var(--primary-color);

  .icon {
    width: 40px;
    height: 41px;
  }
}

.cardTitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-align: center;
}

.cardDescription {
  font-size: 16px;
  text-align: justify;
  font-weight: 600;
  color: var(--color-gray-light);
}

.cardContainer:hover {
  background-color: var(--primary-color);
  transition: all 0.3s ease;
  border-color: var(--primary-color);
  cursor: pointer;

  .iconContainer {
    background-color: var(--color-white);
    color: var(--primary-color);
  }

  .cardTitle {
    color: var(--color-white);
  }

  .cardDescription {
    color: var(--color-white);
  }
}
