.heroSection {
  width: 100%;
  background: var(--bg-hero) center/cover no-repeat;
  padding: 5px 0 100px 0;
  display: flex;
  align-items: center;
}

.FormSection {
  width: 100%;
  background: var(--secondary-color);
  padding: 50px 0;
  margin-top: 80px;
}

.Footerection {
  width: 100%;
  background: var(--secondary-color);
  padding: 30px 0;
  margin-top: 100px;
}

@media (max-width: 425px) {
  .heroSection {
    width: 100%;
    background: var(--bg-hero) center/cover no-repeat;
    padding: 5px 0 100px 0;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }
}
