.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  h2 {
    width: 524px;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 42px;
    color: var(--secondary-color);
    line-height: normal;

    span {
      color: var(--primary-color);
    }
  }

  p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;

    strong {
      font-weight: bold;
    }
  }
}
