.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.headline {
  width: 100%;
  max-width: 632px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 64px;
}

.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  color: var(--primary-color);
  text-align: center;

  span {
    color: var(--secondary-color);
  }
}
