.faqContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  h2 {
    font-size: 36px;
    font-weight: 800;
    font-style: normal;
    line-height: 110%;
    color: var(--secondary-color);
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 48px;
  width: 100%;
}

@media (max-width: 425px) {
  .headline {
    text-align: center;
  }
}
